<% provide(:title, @event.name) %>
<% provide(:url, invitations_path) %>
<% provide(:button_text, "Send invitation") %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2><%= @event.name %></h2>
		<p>Date: <%= @event.date.strftime('%B %e, %Y') %></p>
		<p>Location: <%= @event.location %></p>
		<p>Host: <%= @event.host.name %></p>
		<p><%= @event.description %></p>
		<%= render 'invitations/form' %>
	</div>
</div>