<% provide(:title, "All Invitations") %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<% if @invitations.any? %>
			<%= will_paginate %>
			<% @invitations.each do |invitation| %>
				<div class="invitation">
					<%= link_to invitation.event.name, invitation.event %> | 
					<%= invitation.event.date %> at <%= invitation.event.time %> | 
					<%= invitation.event.location %> | 
					<%= link_to invitation.event.host.name, invitation.event.host %> | 
					<%= link_to "See invitation", invitation %> | 
					<%= link_to "Edit invitation", edit_invitation_path(invitation) %>
					<% if current_user == invitation.event.host %>
						| <%= link_to "Delete Invitation", invitation, method: :delete %>
					<% end %>
				</div>
			<% end %>
			<%= will_paginate %>
		<% else %>
			<p>You don't have any invitations!</p>
		<% end %>
	</div>
</div>